In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [3]:
user_action_logs = pd.read_csv('./user_action_logs.csv', names=['user_id', 'action_time', 'action_type'])
user_action_logs.head()

   user_id          action_time  action_type
0   842439  2018-09-13 23:17:21            3
1   842439  2018-09-13 23:17:21            3
2   905214  2018-09-13 15:19:30            3
3   905214  2018-09-13 15:19:30            3
4   842439  2018-09-13 23:17:21            3

In [6]:
user_action_logs['action_type'].head(10)

0    3
1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: action_type, dtype: int64